.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/src/grid-space.png');
  height: 88vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.new-joke-btn {
  color: #0ce8b0;
  padding: 1% 2%;
  font-size: 18pt;
  background: #197dff9b;
  border-radius: 10px;
  margin: 5% 0;
}

.new-joke-btn:hover {
  transform: rotate(360deg);
  transition: transform 1s ease;
  background-color: #FF0DA1;
  color: #6D0CE8;
}