main, body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: 'Tilt Neon', cursive;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Tilt Neon', cursive;
}

.error-msg {
  color: black;
  background-color: purple;
}

/* Small Screen */
@media screen and (max-width: 360px) {
  header {
    height: auto;
    padding: 0.5rem 0;
  }

  .logo {
    margin: 0 auto;
  }

  .nav-links {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
  }

  .home-page {
    height: 100vh;
    padding: 0.5rem;
  }

  .all-jokes {
    width: 100%;
    margin-top: 0.5rem;
  }

  .new-joke-btn {
    margin-top: 3rem;
  }

  form {
    width: 90%;
    margin: 0 auto;
  }
}

/* Medium Screen */
@media screen and (max-width: 425px) { 
  .all-jokes {
    width: 100%;
    margin-top: 1rem;
  }

  .new-joke-btn {
    margin-top: 5rem;
  }

  form {
    width: 90%;
    margin: 1rem auto;
  }

  .no-result-msg {
    width: 60%;
  }
}

/* Large Screen */
@media screen and (max-width: 1100px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  a {
    margin: 0 2%;
  }

  .logo {
    margin: 2% 0;
  }

  .nav-links {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
  }

  .main-joke {
    margin-top: 20%;
  }

  .clear-btn {
    margin-right: 2.5rem;
  }

  .search-btn {
    margin-right: .5rem;
  }

  .no-result-msg {
    width: 60%;
  }
}