main, body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: 'Tilt Neon', cursive;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Tilt Neon', cursive;
}

.error-msg {
  color: black;
  background-color: purple;
}