header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 1%;
  background: linear-gradient(to bottom, #ff8cd3, #FF0DA1, #001862);
}

.logo {
  height: 60px;
  margin-left: 7%;
  margin-top: 7%;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 10%;
  font-size: 20pt;
  background: linear-gradient(to bottom, #56ff3b, #0ce8b0 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  background: linear-gradient(to bottom,#f700b7, #01c9f1, #01c9f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  width: 20%;
}

/* Pixel Five and Samung Galaxy A51/71 */
@media screen and (max-width: 393px) and (max-height: 851px) {
  .logo {
    height: 45px;
    margin-left: 7%;
    margin-top: 7%;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 15%;
    font-size: 15pt;
    background: linear-gradient(to bottom, #56ff3b, #0ce8b0 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}